extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            form.form.forgot__pass__form
                .form__group.ma-bt-md
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                    span.info
                        p We'll send a reset link to that email address if an existing account matches.
                .form__group.actions__group
                    button.btn.btn--green Following
                    a.btn--back(href='/login') Back
